:root {
  --primary: #007bff;
  --bg: #222222;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили формы логина */
.login-container {
  background: black;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin-top: 100px;
  animation: fadeIn 0.5s ease;
}
h2{
    color: #f0f2f5;
}
.logo {
  width: 80px;
  margin-bottom: 20px;
}
input,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;   
  border-radius: 8px;
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: 0.3s;
}
.btn-login {
  background: var(--primary);
  color: white;
  margin-top: 10px;
}
.btn-logout {
  background: #f0f2f5;
  color: #000;
  width: auto;
  padding: 5px 15px;
  font-size: 12px;
}

/* Стили приложения */
.container {
  width: 100%;
  max-width: 500px;
  display: none;
}
.main-add-btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.team-block {
  background: #f0f2f5;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.team-header {
  padding: 15px;
  background: #f0f2f5;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.worker-item {
  padding: 12px 20px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  background-color: #f0f2f5;
}
.hidden {
  display: none !important;
}

/* Pop-up (Модальные окна) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}
.modal-content {
  background: #f0f2f5;
  padding: 25px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-width: 500px;
  animation: slideUp 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#loader {
  position: fixed;
  top: 20px;
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  z-index: 2000;
}
.logo{
    width: 300px;   
}